.single, .archive {
	#main{
		margin-top: 20px;
	}
}
.single {
	#main{
		#content {
			background: $white;
			padding: 20px 0;
			#comments-tag, .post-header, .entry-content, .referencer {
				padding: 0 30px;
			}
			#comments-tag, .referencer {
				padding-top: 20px;
				padding-bottom: 10px;
				border-top: 1px solid #cfcfcf;
				font-weight: 400;
				color: $linkColor;
			}
		}
	}
}
.post-header {
	.post-title {
		font-size: 36px;
		font-weight: 700;
		margin: 10px 0 20px;
	}
}
.post-meta {
	.post-author {
		font-size: 18px;
		color: $linkColor;
		a {
			font-weight: 700;
			color: $linkColor;
			&:hover {
				color: $brand;
			}
		}
	}
	.additional-meta  {
		list-style: none;
		padding: 0;
		font-weight: 400;
		color: $color9;
		padding: 5px 0;
		margin: 10px 0;
		border: 1px solid #d6d6d6;
		border-width: 1px 0;
		li {
			float: left;
			margin-right: 30px;
			a {
				color: $color9;
				&:hover {
					color: $brand;
				}
			}
			[class^="icon-"], [class*=" icon-"] {
				color: $brand;
				margin-right: 5px;
			}
		}
	}
}
.author-info{
	padding: 20px;
	background: $white;
	position: relative;
	font-size: 12px;
	font-weight: 400;
	color: $linkColor;
	.icon-caret-left {
		position: absolute;
		top: 15px;
		left: -9px;
		color: $white;
		font-size: 28px;
	}
	.avatar {
		width: 100%;
		height: auto;
		max-width: 250px;
		float: none !important;
	}
	.author-name {
		font-size: 16px;
		color: $textColor;
		font-weight: 700;
	}
}
.entry-content {
	font-weight: 400;
	color: $linkColor;
	h2, h3 {
		font-size: 20px;
		font-weight: 700;
		color: $textColor;
		margin-top: 1.4em;
	}
}
.box-title {
	font-size: 20px;
	font-weight: 700;
	color: $textColor;
	margin: 0 0 10px;
}

.float-title {
	background: $white;
	font-size: 16px;
	font-weight: 300;
	padding: 15px;
}
#related-posts {

}