.single {
	#main{
		margin-top: 20px;
		.post {
			background: $white;
			padding: 20px 30px;
		}
	}
}
.author-info{
	padding: 20px;
	background: $white;
	position: relative;
	font-size: 12px;
	font-weight: 400;
	color: $linkColor;
	.icon-caret-left {
		position: absolute;
		top: 15px;
		left: -9px;
		color: $white;
		font-size: 28px;
	}
	.avatar {
		width: 100%;
		height: auto;
		max-width: 250px;
	}
	.author-name {
		font-size: 16px;
		color: $textColor;
		font-weight: 700;
	}
}
.float-title {
	background: $white;
	font-size: 16px;
	font-weight: 300;
	padding: 15px;
}
#related-posts {

}